####################################################################
# Copyright (c) 1999, 2019, Oracle and/or its affiliates. All rights reserved.
# Ansible Jinja2 Template per Database 19c Software Setup
####################################################################

oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v19.0.0
oracle.install.option=INSTALL_DB_SWONLY
UNIX_GROUP_NAME=oinstall
INVENTORY_LOCATION={{ ora_inventory_loc | default('/u01/app/oraInventory') }}
ORACLE_HOME={{ oracle_home | default('/u01/app/oracle/product/19.0.0/dbhome_1') }}
ORACLE_BASE={{ oracle_base | default('/u01/app/oracle') }}

# Set to true for RAC installations
oracle.install.db.InstallEdition=EE
oracle.install.db.OSDBA_GROUP=dba
oracle.install.db.OSOPER_GROUP=oper
oracle.install.db.OSBACKUPDBA_GROUP=backupdba
oracle.install.db.OSDGDBA_GROUP=dgdba
oracle.install.db.OSKMDBA_GROUP=kmdba
oracle.install.db.OSRACDBA_GROUP=racdba

oracle.install.db.CLUSTER_NODES={{ cluster_nodes | join(',') }}
oracle.install.db.isRACOneInstall=false
oracle.install.db.rac.serverpoolName=
oracle.install.db.rac.serverpoolCardinality=0
DECLINE_SECURITY_UPDATES=true
